<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4DGoose</title>
    <link rel="stylesheet" href="../static/style.css">
    <!-- use go-debug.js when developing and go.js when deploying -->
    <script src="../static/go.js"></script>
</head>
<body>
    <script src="../static/script.js"></script>
    <div id="myDiagramDiv"
     style="width: 95%; height: 600px; background-color: #DAE4E4;"></div>
     <script src="../dynamic/network.js"></script>
</body>
</html>
